<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if(title){  %>
  <h1><%= title  %></h1>
	<% }  %>
	<% if(msg){  %>
  <h1><%= msg  %></h1>
	<% }  %>
  <img src='/public/img/404.png'>
</body>

</html>
